.jumbotron {
    background-color: #282a36;
    color: #f8f8f2;
}

.card-header {
    background-color: #6272a4;
    color: #50fa7b;
}

.card {
    margin-bottom: 2em;
}

.btn {
    background-color: #6272a4;
}

.btn:hover {
    background-color: #44475a;
}

th {
    font-weight: bold;
}

